<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SpeedAndDistance.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ClassLibrary1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SpeedAndDistance.Properties.Settings>
            <setting name="brakeCirc" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="upgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="preStageTime_ms" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="start_mode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VehicleWeight" serializeAs="String">
                <value>1250</value>
            </setting>
            <setting name="CdA" serializeAs="String">
                <value>0.6294563</value>
            </setting>
            <setting name="race_mode" serializeAs="String">
                <value>0</value>
            </setting>
        </SpeedAndDistance.Properties.Settings>
        <ClassLibrary1.Properties.Settings>
            <setting name="brakeCirc" serializeAs="String">
                <value>1</value>
            </setting>
        </ClassLibrary1.Properties.Settings>
    </userSettings>
</configuration>